html, body { height: 100%; }
body { margin: 0; }

.color-picker {
    /* removes default styling from input color element */
    padding: 0;
    border: none;
    /* makes input (color swatch) 100% size of container */
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* mix blend mode makes the color of the swatch alter the image behind it. */
    cursor: pointer;
}
#playground-image {
    padding: 0;
    border: 0;
}

/* removes default styling from input color element */
::-webkit-color-swatch {
    border: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
    border: none;
}

::-moz-focus-inner {
    padding: 0;
}